<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  
  <div class="images-right">
    <img alt="" src="{{ "/assets/img/CMS.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Demo CMS Website </h3>
    <ul>
      <li> .NET CORE</li>
       <li> SQL</li>
    </ul>
    <p>FullStack Project I made to learn and gain some experience in the web world.</p>
    <a class="project-link" href="https://rgcmsdemo.herokuapp.com/">Click here to Visit</a>
  </div>
</div>

<div class="user-projects">
  

  <div class="images-left">
    <img alt="" src="{{ "/assets/img/pla2y.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Android Apps </h3>
    <ul>
      <li> Java</li>
    </ul>
    <p>Check out some Apps I built for Android</p>
    <a class="project-link" href="https://play.google.com/store/apps/developer?id=RG+DEV">Check it out</a>
  </div>   
</div>



<div class="user-projects">
  
  <div class="images-right">
    <img alt="" src="https://avatars.slack-edge.com/2020-05-09/1112549471909_7543dde099089941d3c3_512.png" />
  </div>
  <div class="contents">
    <h3> Poll creator </h3>
    <ul>
      <li> .NET CORE</li>
       <li> SQL</li>
    </ul>
    <p>Small website where you can create and share polls</p>
    <a class="project-link" href="https://quick-polls.herokuapp.com/">Click here to Visit</a>
  </div>
</div>
